<button mat-raised-button color="primary" (click)="backgroundTraining()">
    <span *ngIf="trainingInProcess">Stop Training</span>
    <span *ngIf="!trainingInProcess">Train the Network in background</span>
</button>
<button mat-raised-button color="warn" (click)="runTest()">Test the network</button>
<div class="clearfix"></div>
<patient-table class="half" [label]="'Training Data'" [nonCancerousFalse]="pointsClassifier.nonCancerousFalse"
    [patientData]="trainingData"></patient-table>
<patient-table class="half" [label]="'Test Data'" [nonCancerousFalse]="pointsClassifier.nonCancerousFalse"
    [patientData]="testData"></patient-table>

<canvas class="model-holder" [hidden]="!modelVisible" id="canvas"></canvas>
<div class="clearfix"></div>