canvas {
    background: #232323;
    width: 100%;
    height: 700px;
  }

  .half {
    overflow: scroll;
    width: 33%;
    float: left;
  }

  .clearfix {
    clear: both;
  }

  button {
    margin-right: 20px;
  }

  .model-holder {
    width: 33%;
    float: left;
  }